@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

/* Fonts */
.pp-RG {
  font-family: Poppins-Regular;
}

.pp-SB {
  font-family: Poppins-SemiBold;
}

.pp-EB {
  font-family: Poppins-ExtraBold;
}

.Coda {
  font-family: "Coda", cursive;
}

iframe {
}
